// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2020 Borea
 */

/dts-v1/;

#include "rakunx8mplus_simpleway_som.dtsi"

/ {
	model = "Simpleway Rakun i.MX 8M Plus (Powersoft 4238)";
	compatible = "fsl,rakunx8mplus_simpleway_som_past", "fsl,imx8mp";

	sound-hdmi {
		compatible = "fsl,imx-audio-cdnhdmi";
		model = "audio-hdmi";
		audio-cpu = <&aud2htx>;
		hdmi-out;
		constraint-rate = <44100>,
			<88200>,
			<176400>,
			<32000>,
			<48000>,
			<96000>,
			<192000>;
		status = "okay";
	};

	sound1 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rakunx8mplus-sgtl5000-sai1";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master1>;
		simple-audio-card,frame-master = <&dailink_master1>;
		status = "okay";
		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack",
			"Speaker", "Speaker Ext",
			"Line", "Line In Jack";
		simple-audio-card,routing =
			"MIC_IN", "Microphone Jack",
			"Microphone Jack", "Mic Bias",
			"LINE_IN", "Line In Jack",
			"Headphone Jack", "HP_OUT",
			"Speaker Ext", "LINE_OUT";

		simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};

		dailink_master1: simple-audio-card,codec {
			sound-dai = <&sgtl5000_1>;
			clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI1_MCLK1>;
		};
	};

	sound2 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rakunx8mplus-sgtl5000-sai2";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master2>;
		simple-audio-card,frame-master = <&dailink_master2>;
		status = "okay";

		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack",
			"Speaker", "Speaker Ext",
			"Line", "Line In Jack";
		simple-audio-card,routing =
			"MIC_IN", "Microphone Jack",
			"Microphone Jack", "Mic Bias",
			"LINE_IN", "Line In Jack",
			"Headphone Jack", "HP_OUT",
			"Speaker Ext", "LINE_OUT";

		simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};

		dailink_master2: simple-audio-card,codec {
			sound-dai = <&sgtl5000_2>;
			clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI2_MCLK1>;
		};
	};

	sound5 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rakunx8mplus-sgtl5000-sai5";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master5>;
		simple-audio-card,frame-master = <&dailink_master5>;
		status = "okay";

		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack",
			"Speaker", "Speaker Ext",
			"Line", "Line In Jack";
		simple-audio-card,routing =
			"MIC_IN", "Microphone Jack",
			"Microphone Jack", "Mic Bias",
			"LINE_IN", "Line In Jack",
			"Headphone Jack", "HP_OUT",
			"Speaker Ext", "LINE_OUT";

		simple-audio-card,cpu {
			sound-dai = <&sai5>;
		};

		dailink_master5: simple-audio-card,codec {
			sound-dai = <&sgtl5000_5>;
			clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI5_MCLK1>;
		};
	};


	sound6 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rakunx8mplus-sgtl5000-sai6";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master6>;
		simple-audio-card,frame-master = <&dailink_master6>;
		status = "okay";

		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack",
			"Speaker", "Speaker Ext",
			"Line", "Line In Jack";
		simple-audio-card,routing =
			"MIC_IN", "Microphone Jack",
			"Microphone Jack", "Mic Bias",
			"LINE_IN", "Line In Jack",
			"Headphone Jack", "HP_OUT",
			"Speaker Ext", "LINE_OUT";

		simple-audio-card,cpu {
			sound-dai = <&sai6>;
		};

		dailink_master6: simple-audio-card,codec {
			sound-dai = <&sgtl5000_6>;
			clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI6_MCLK1>;
		};
	};

	sw1_reg: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "SW1";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	sw2_reg: regulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "SW2";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&aud2htx {
	status = "okay";
};

&ecspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2 &pinctrl_ecspi2_cs>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;
	status = "okay";

	/* TODO: ali lahko dinamično podpiramo flashe */
	spidev1: spi@0 {
		reg = <0>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <500000>;
	};
};

&switch0 {
	ports {
		port@0 {
			status = "okay";
		};

		port@2 {
			status = "okay";
		};

		port@4 {
			status = "okay";
		};
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	sgtl5000_1: codec@b {
		#sound-dai-cells = <0>;
		compatible = "fsl,sgtl5000";
		status = "okay";
		reg = <0x0b>;
		clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI1_IPG>, <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI1_MCLK1>;
		clock-names = "bus", "mclk";
		assigned-clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI1_MCLK1>;
		assigned-clock-rates = <24576000>, <24576000>;
		VDDA-supply = <&sw2_reg>;
		VDDIO-supply = <&sw2_reg>;
		VDDD-supply = <&sw1_reg>;
	};

	sgtl5000_2: codec@c {
		#sound-dai-cells = <0>;
		compatible = "fsl,sgtl5000";
		status = "okay";
		reg = <0x0c>;
		clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI2_IPG>, <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI2_MCLK1>;
		clock-names = "bus", "mclk";
		assigned-clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI2_MCLK1>;
		assigned-clock-rates = <24576000>, <24576000>;
		VDDA-supply = <&sw2_reg>;
		VDDIO-supply = <&sw2_reg>;
		VDDD-supply = <&sw1_reg>;
	};

	sgtl5000_5: codec@f {
		#sound-dai-cells = <0>;
		compatible = "fsl,sgtl5000";
		status = "okay";
		reg = <0x0f>;
		clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI5_IPG>, <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI5_MCLK1>;
		clock-names = "bus", "mclk";
		assigned-clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI5_MCLK1>;
		assigned-clock-rates = <24576000>, <24576000>;
		VDDA-supply = <&sw2_reg>;
		VDDIO-supply = <&sw2_reg>;
		VDDD-supply = <&sw1_reg>;
	};

	sgtl5000_6: codec@10 {
		#sound-dai-cells = <0>;
		compatible = "fsl,sgtl5000";
		status = "okay";
		reg = <0x10>;
		clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI6_IPG>, <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI6_MCLK1>;
		clock-names = "bus", "mclk";
		assigned-clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI6_MCLK1>;
		assigned-clock-rates = <24576000>, <24576000>;
		VDDA-supply = <&sw2_reg>;
		VDDIO-supply = <&sw2_reg>;
		VDDD-supply = <&sw1_reg>;
	};
};

&irqsteer_hdmi {
	status = "okay";
};

&hdmimix_clk {
	status = "okay";
};

&hdmimix_reset {
	status = "okay";
};

&hdmi_pavi {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmiphy {
	status = "okay";
};

&lcdif1 {
	status = "okay";
};

&lcdif3 {
	status = "okay";
};

&mipi_dsi {
	status = "okay";

	panel@0 {
		compatible = "winstar,wf50dtya3mnn0", "ilitek,ili9881c";
		reg = <0>;
		status = "okay";
	};
};

&micfil {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pdm>;
	assigned-clocks = <&clk IMX8MP_CLK_PDM>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <196608000>;
	status = "okay";
};

&pcie{
	status = "okay";
};

&pcie_phy{
	status = "okay";
};

&sai1 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;
	assigned-clocks = <&clk IMX8MP_CLK_SAI1>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24000000>;
	clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI1_IPG>, <&clk IMX8MP_CLK_DUMMY>,
		<&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI1_MCLK1>, <&clk IMX8MP_CLK_DUMMY>,
		<&clk IMX8MP_CLK_DUMMY>, <&clk IMX8MP_AUDIO_PLL1_OUT>,
		<&clk IMX8MP_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&sai2 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MP_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24000000>;
	clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI2_IPG>, <&clk IMX8MP_CLK_DUMMY>,
		<&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI2_MCLK1>, <&clk IMX8MP_CLK_DUMMY>,
		<&clk IMX8MP_CLK_DUMMY>, <&clk IMX8MP_AUDIO_PLL1_OUT>,
		<&clk IMX8MP_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&sai5 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai5>;
	assigned-clocks = <&clk IMX8MP_CLK_SAI5>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24000000>;
	clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI5_IPG>, <&clk IMX8MP_CLK_DUMMY>,
		<&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI5_MCLK1>, <&clk IMX8MP_CLK_DUMMY>,
		<&clk IMX8MP_CLK_DUMMY>, <&clk IMX8MP_AUDIO_PLL1_OUT>,
		<&clk IMX8MP_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&sai6 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai6>;
	assigned-clocks = <&clk IMX8MP_CLK_SAI6>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24000000>;
	clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI6_IPG>, <&clk IMX8MP_CLK_DUMMY>,
		<&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI6_MCLK1>, <&clk IMX8MP_CLK_DUMMY>,
		<&clk IMX8MP_CLK_DUMMY>, <&clk IMX8MP_AUDIO_PLL1_OUT>,
		<&clk IMX8MP_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&xcvr {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_xcvr>;
	#sound-dai-cells = <0>;
	status = "okay";
};

/* TODO: enable. currently uart4 memory is mapped to M7 CPU.
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};
*/

&usb3_phy0 {
	status = "okay";
};

&usb3_0 {
	status = "okay";
};

&usb_dwc3_0 {
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	status = "okay";
};

&usb3_phy1 {
	status = "okay";
};

&usb3_1 {
	status = "okay";
};

&usb_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX8MP_IOMUXC_HDMI_DDC_SCL__HDMIMIX_HDMI_SCL	0x400001c3
			MX8MP_IOMUXC_HDMI_DDC_SDA__HDMIMIX_HDMI_SDA	0x400001c3
			MX8MP_IOMUXC_HDMI_HPD__HDMIMIX_HDMI_HPD		0x40000019
			MX8MP_IOMUXC_HDMI_CEC__HDMIMIX_HDMI_CEC		0x40000019
		>;
	};

	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_SCLK__ECSPI2_SCLK		0x82
			MX8MP_IOMUXC_ECSPI2_MOSI__ECSPI2_MOSI		0x82
			MX8MP_IOMUXC_ECSPI2_MISO__ECSPI2_MISO		0x82
		>;
	};

	pinctrl_ecspi2_cs: ecspi2cs {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_SS0__GPIO5_IO13		0x40000
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C2_SCL__I2C2_SCL			0x400001c3
			MX8MP_IOMUXC_I2C2_SDA__I2C2_SDA			0x400001c3
		>;
	};

	pinctrl_sai1: sai1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXC__AUDIOMIX_SAI1_TX_BCLK	0xd6
			MX8MP_IOMUXC_SAI1_TXFS__AUDIOMIX_SAI1_TX_SYNC	0xd6
			MX8MP_IOMUXC_SAI1_RXC__AUDIOMIX_SAI1_RX_BCLK	0xd6
			MX8MP_IOMUXC_SAI1_RXFS__AUDIOMIX_SAI1_RX_SYNC	0xd6
			MX8MP_IOMUXC_SAI1_MCLK__AUDIOMIX_SAI1_MCLK		0xd6
			MX8MP_IOMUXC_SAI1_RXD0__AUDIOMIX_SAI1_RX_DATA00	0xd6
			MX8MP_IOMUXC_SAI1_RXD1__AUDIOMIX_SAI1_RX_DATA01	0xd6
			MX8MP_IOMUXC_SAI1_TXD0__AUDIOMIX_SAI1_TX_DATA00	0xd6
			MX8MP_IOMUXC_SAI5_RXC__AUDIOMIX_SAI1_TX_DATA01	0xd6
		>;
	};

	pinctrl_sai2: sai2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_TXC__AUDIOMIX_SAI2_TX_BCLK	0xd6
			MX8MP_IOMUXC_SAI2_TXFS__AUDIOMIX_SAI2_TX_SYNC	0xd6
			MX8MP_IOMUXC_SAI2_RXC__AUDIOMIX_SAI2_RX_BCLK	0xd6
			MX8MP_IOMUXC_SAI2_RXFS__AUDIOMIX_SAI2_RX_SYNC	0xd6
			MX8MP_IOMUXC_SAI2_MCLK__AUDIOMIX_SAI2_MCLK		0xd6
			MX8MP_IOMUXC_SAI2_TXD0__AUDIOMIX_SAI2_TX_DATA00	0xd6
			MX8MP_IOMUXC_SAI2_RXD0__AUDIOMIX_SAI2_RX_DATA00	0xd6
		>;
	};

	pinctrl_sai5: sai5grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI5_RXD2__AUDIOMIX_SAI5_TX_BCLK	0xd6
			MX8MP_IOMUXC_SAI5_RXD1__AUDIOMIX_SAI5_TX_SYNC	0xd6
			MX8MP_IOMUXC_SAI3_RXC__AUDIOMIX_SAI5_RX_BCLK	0xd6
			MX8MP_IOMUXC_SAI5_RXFS__AUDIOMIX_SAI5_RX_SYNC	0xd6
			MX8MP_IOMUXC_SAI5_MCLK__AUDIOMIX_SAI5_MCLK		0xd6
			MX8MP_IOMUXC_SAI5_RXD3__AUDIOMIX_SAI5_TX_DATA00	0xd6
			/* MX8MP_IOMUXC_SAI2_TXD0__AUDIOMIX_SAI5_TX_DATA01	0xd6 */
			MX8MP_IOMUXC_SAI5_RXD0__AUDIOMIX_SAI5_RX_DATA00	0xd6
			MX8MP_IOMUXC_SAI3_TXFS__AUDIOMIX_SAI5_RX_DATA01	0xd6
		>;
	};

	pinctrl_sai6: sai6grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXD4__AUDIOMIX_SAI6_TX_BCLK	0xd6
			MX8MP_IOMUXC_SAI1_TXD6__AUDIOMIX_SAI6_TX_SYNC	0xd6
			MX8MP_IOMUXC_SAI1_RXD4__AUDIOMIX_SAI6_RX_BCLK	0xd6
			MX8MP_IOMUXC_SAI1_RXD6__AUDIOMIX_SAI6_RX_SYNC	0xd6
			MX8MP_IOMUXC_SAI1_RXD7__AUDIOMIX_SAI6_MCLK		0xd6
			MX8MP_IOMUXC_SAI1_TXD5__AUDIOMIX_SAI6_TX_DATA00	0xd6
			MX8MP_IOMUXC_SAI1_RXD5__AUDIOMIX_SAI6_RX_DATA00	0xd6
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_DATA2__UART2_DTE_RX	0x49
			MX8MP_IOMUXC_SD1_DATA3__UART2_DTE_TX	0x49
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART4_RXD__UART4_DCE_RX	0x49
			MX8MP_IOMUXC_UART4_TXD__UART4_DCE_TX	0x49
		>;
	};

	pinctrl_xcvr: xcvrgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_EXT_CLK__AUDIOMIX_SPDIF1_EXT_CLK     0xd6
			MX8MP_IOMUXC_SPDIF_RX__AUDIOMIX_SPDIF1_IN       0xd6
		>;
	};
};
